--
-- PostgreSQL database dump
--

\restrict cEz0a3Tr0eW6d3h0Tm0PJaejgBV3Ou800l7cb7IzkrcDJf8sywrA3RlhbLaBfKN

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_interaction_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_interaction_events (
    id integer NOT NULL,
    user_id integer NOT NULL,
    partner_user_id integer,
    event_type character varying(32) NOT NULL,
    metadata_json json DEFAULT '{}'::json NOT NULL,
    created_at timestamp with time zone,
    thread_id character varying(64)
);


ALTER TABLE public.ai_interaction_events OWNER TO postgres;

--
-- Name: ai_interaction_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_interaction_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_interaction_events_id_seq OWNER TO postgres;

--
-- Name: ai_interaction_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_interaction_events_id_seq OWNED BY public.ai_interaction_events.id;


--
-- Name: ai_trial_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_trial_usage (
    id integer NOT NULL,
    user_id integer NOT NULL,
    trial_started_at timestamp without time zone,
    updated_at timestamp without time zone,
    ai_match_preview_used integer DEFAULT 0 NOT NULL,
    ai_opener_used integer DEFAULT 0 NOT NULL,
    ai_rewrite_used integer DEFAULT 0 NOT NULL,
    ai_recovery_used integer DEFAULT 0 NOT NULL,
    ai_escalation_used integer DEFAULT 0 NOT NULL,
    status character varying(32) DEFAULT 'active'::character varying NOT NULL
);


ALTER TABLE public.ai_trial_usage OWNER TO postgres;

--
-- Name: ai_trial_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_trial_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_trial_usage_id_seq OWNER TO postgres;

--
-- Name: ai_trial_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_trial_usage_id_seq OWNED BY public.ai_trial_usage.id;


--
-- Name: ai_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_usage (
    id integer NOT NULL,
    user_id integer NOT NULL,
    date date NOT NULL,
    messages_used integer NOT NULL,
    openers_used integer NOT NULL,
    improves_used integer NOT NULL
);


ALTER TABLE public.ai_usage OWNER TO postgres;

--
-- Name: ai_usage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ai_usage_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ai_usage_id_seq OWNER TO postgres;

--
-- Name: ai_usage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ai_usage_id_seq OWNED BY public.ai_usage.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(128) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: analytics_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_events (
    id integer NOT NULL,
    user_id integer,
    name character varying(100) NOT NULL,
    payload_json text DEFAULT '{}'::text NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.analytics_events OWNER TO postgres;

--
-- Name: analytics_events_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.analytics_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_events_id_seq OWNER TO postgres;

--
-- Name: analytics_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.analytics_events_id_seq OWNED BY public.analytics_events.id;


--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_settings (
    id integer NOT NULL,
    key character varying(100) NOT NULL,
    value_json text DEFAULT '{}'::text NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.app_settings OWNER TO postgres;

--
-- Name: app_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.app_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.app_settings_id_seq OWNER TO postgres;

--
-- Name: app_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.app_settings_id_seq OWNED BY public.app_settings.id;


--
-- Name: device_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    platform character varying(20) NOT NULL,
    token character varying(255) NOT NULL
);


ALTER TABLE public.device_tokens OWNER TO postgres;

--
-- Name: device_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_tokens_id_seq OWNER TO postgres;

--
-- Name: device_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_tokens_id_seq OWNED BY public.device_tokens.id;


--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification_tokens (
    id integer NOT NULL,
    user_id integer NOT NULL,
    token_hash character varying(128) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone
);


ALTER TABLE public.email_verification_tokens OWNER TO postgres;

--
-- Name: email_verification_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_verification_tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_verification_tokens_id_seq OWNER TO postgres;

--
-- Name: email_verification_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_verification_tokens_id_seq OWNED BY public.email_verification_tokens.id;


--
-- Name: incoming_like_hides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incoming_like_hides (
    id integer NOT NULL,
    viewer_user_id integer NOT NULL,
    admirer_user_id integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT ck_incoming_like_hides_not_self CHECK ((viewer_user_id <> admirer_user_id))
);


ALTER TABLE public.incoming_like_hides OWNER TO postgres;

--
-- Name: incoming_like_hides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.incoming_like_hides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incoming_like_hides_id_seq OWNER TO postgres;

--
-- Name: incoming_like_hides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.incoming_like_hides_id_seq OWNED BY public.incoming_like_hides.id;


--
-- Name: matches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matches (
    id integer NOT NULL,
    user_a_id integer NOT NULL,
    user_b_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.matches OWNER TO postgres;

--
-- Name: matches_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.matches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.matches_id_seq OWNER TO postgres;

--
-- Name: matches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.matches_id_seq OWNED BY public.matches.id;


--
-- Name: message_reactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_reactions (
    id integer NOT NULL,
    message_id integer NOT NULL,
    user_id integer NOT NULL,
    emoji character varying(8) NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.message_reactions OWNER TO postgres;

--
-- Name: message_reactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.message_reactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.message_reactions_id_seq OWNER TO postgres;

--
-- Name: message_reactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.message_reactions_id_seq OWNED BY public.message_reactions.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    sender_id integer NOT NULL,
    receiver_id integer NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone NOT NULL,
    reply_to_message_id integer,
    voice_url text,
    voice_mime character varying(80),
    voice_duration_ms integer,
    is_demo_simulation boolean DEFAULT false NOT NULL,
    ai_generated boolean DEFAULT false NOT NULL
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_id_seq OWNER TO postgres;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: oauth_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oauth_accounts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    provider character varying(32) NOT NULL,
    provider_user_id character varying(255) NOT NULL,
    email_snapshot character varying(255)
);


ALTER TABLE public.oauth_accounts OWNER TO postgres;

--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.oauth_accounts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.oauth_accounts_id_seq OWNER TO postgres;

--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.oauth_accounts_id_seq OWNED BY public.oauth_accounts.id;


--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id integer NOT NULL,
    user_id integer NOT NULL,
    display_name character varying(100) NOT NULL,
    bio text DEFAULT ''::text NOT NULL,
    age integer,
    city character varying(100) DEFAULT ''::character varying NOT NULL,
    gender character varying(50) DEFAULT ''::character varying NOT NULL,
    interested_in character varying(50) DEFAULT ''::character varying NOT NULL,
    relationship_goal character varying(50) DEFAULT 'relationship'::character varying NOT NULL,
    interests text DEFAULT ''::text NOT NULL,
    lifestyle_tags text DEFAULT ''::text NOT NULL,
    photo_urls text DEFAULT ''::text NOT NULL,
    min_preferred_age integer,
    max_preferred_age integer,
    visual_embedding text DEFAULT ''::text NOT NULL,
    verified boolean DEFAULT false NOT NULL,
    verified_at timestamp without time zone,
    verification_embedding text DEFAULT ''::text NOT NULL,
    preferred_language character varying(8) DEFAULT 'en'::character varying NOT NULL,
    verification_type character varying(16) DEFAULT 'manual'::character varying NOT NULL,
    verification_status character varying(16) DEFAULT 'none'::character varying NOT NULL,
    verification_updated_at timestamp without time zone,
    verification_selfie_url text DEFAULT ''::text NOT NULL,
    onboarding_completed boolean DEFAULT false NOT NULL,
    city_original character varying(100) DEFAULT ''::character varying NOT NULL,
    city_en character varying(100) DEFAULT ''::character varying NOT NULL,
    city_local character varying(100) DEFAULT ''::character varying NOT NULL,
    city_locative_uk character varying(100) DEFAULT ''::character varying NOT NULL,
    country_code character varying(2) DEFAULT ''::character varying NOT NULL,
    region character varying(64) DEFAULT ''::character varying NOT NULL,
    timezone character varying(64) DEFAULT ''::character varying NOT NULL,
    founder_welcome_seen boolean DEFAULT false NOT NULL,
    is_demo_profile boolean DEFAULT false NOT NULL,
    demo_disclaimer text DEFAULT ''::text NOT NULL,
    demo_personality_json text DEFAULT '{}'::text NOT NULL,
    demo_reply_scheduled_at timestamp with time zone,
    demo_pending_json text DEFAULT '{}'::text NOT NULL,
    preferred_gender character varying(32) DEFAULT ''::character varying NOT NULL,
    native_language character varying(8) DEFAULT ''::character varying NOT NULL,
    additional_languages text DEFAULT ''::text NOT NULL,
    date_of_birth date,
    vibe character varying(32) DEFAULT ''::character varying NOT NULL,
    height_cm integer,
    job_title character varying(100) DEFAULT ''::character varying NOT NULL,
    verification_level character varying(16) DEFAULT 'none'::character varying NOT NULL,
    verification_badge_visible boolean DEFAULT true NOT NULL,
    demo_first_message_sent_at timestamp with time zone,
    demo_last_auto_message_at timestamp with time zone
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: profiles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.profiles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profiles_id_seq OWNER TO postgres;

--
-- Name: profiles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.profiles_id_seq OWNED BY public.profiles.id;


--
-- Name: promo_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promo_codes (
    id integer NOT NULL,
    code character varying(64) NOT NULL,
    days integer DEFAULT 7 NOT NULL,
    max_uses integer DEFAULT 1 NOT NULL,
    uses_count integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone
);


ALTER TABLE public.promo_codes OWNER TO postgres;

--
-- Name: promo_codes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.promo_codes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.promo_codes_id_seq OWNER TO postgres;

--
-- Name: promo_codes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.promo_codes_id_seq OWNED BY public.promo_codes.id;


--
-- Name: referral_reward_grants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referral_reward_grants (
    id integer NOT NULL,
    user_id integer NOT NULL,
    milestone_key character varying(16) NOT NULL,
    premium_days integer NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.referral_reward_grants OWNER TO postgres;

--
-- Name: referral_reward_grants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.referral_reward_grants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.referral_reward_grants_id_seq OWNER TO postgres;

--
-- Name: referral_reward_grants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.referral_reward_grants_id_seq OWNED BY public.referral_reward_grants.id;


--
-- Name: subscriptions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subscriptions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    provider character varying(50) NOT NULL,
    provider_customer_id character varying(255) DEFAULT ''::character varying NOT NULL,
    provider_subscription_id character varying(255) DEFAULT ''::character varying NOT NULL,
    status character varying(50) DEFAULT 'inactive'::character varying NOT NULL,
    plan_code character varying(50) DEFAULT 'free'::character varying NOT NULL,
    start_date timestamp without time zone,
    end_date timestamp without time zone
);


ALTER TABLE public.subscriptions OWNER TO postgres;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.subscriptions_id_seq OWNER TO postgres;

--
-- Name: subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.subscriptions_id_seq OWNED BY public.subscriptions.id;


--
-- Name: swipes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.swipes (
    id integer NOT NULL,
    swiper_id integer NOT NULL,
    target_user_id integer NOT NULL,
    liked boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.swipes OWNER TO postgres;

--
-- Name: swipes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.swipes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.swipes_id_seq OWNER TO postgres;

--
-- Name: swipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.swipes_id_seq OWNED BY public.swipes.id;


--
-- Name: thread_read_states; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.thread_read_states (
    id integer NOT NULL,
    user_id integer NOT NULL,
    partner_user_id integer NOT NULL,
    last_read_at timestamp without time zone NOT NULL
);


ALTER TABLE public.thread_read_states OWNER TO postgres;

--
-- Name: thread_read_states_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.thread_read_states_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.thread_read_states_id_seq OWNER TO postgres;

--
-- Name: thread_read_states_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.thread_read_states_id_seq OWNED BY public.thread_read_states.id;


--
-- Name: user_ai_memory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ai_memory (
    id integer NOT NULL,
    user_id integer NOT NULL,
    memory_type character varying(32) NOT NULL,
    key character varying(64) NOT NULL,
    value_json json DEFAULT '{}'::json NOT NULL,
    confidence_score double precision DEFAULT 0.5 NOT NULL,
    source character varying(64) DEFAULT 'system'::character varying NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.user_ai_memory OWNER TO postgres;

--
-- Name: user_ai_memory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_ai_memory_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_ai_memory_id_seq OWNER TO postgres;

--
-- Name: user_ai_memory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_ai_memory_id_seq OWNED BY public.user_ai_memory.id;


--
-- Name: user_ai_profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ai_profiles (
    user_id integer NOT NULL,
    preferred_style character varying(16) DEFAULT 'light'::character varying NOT NULL,
    avg_message_length double precision DEFAULT 0 NOT NULL,
    emoji_usage_level double precision DEFAULT 0 NOT NULL,
    edit_rate double precision DEFAULT 0 NOT NULL,
    samples integer DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone
);


ALTER TABLE public.user_ai_profiles OWNER TO postgres;

--
-- Name: user_blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_blocks (
    id integer NOT NULL,
    blocker_id integer NOT NULL,
    blocked_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.user_blocks OWNER TO postgres;

--
-- Name: user_blocks_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_blocks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_blocks_id_seq OWNER TO postgres;

--
-- Name: user_blocks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_blocks_id_seq OWNED BY public.user_blocks.id;


--
-- Name: user_ignores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_ignores (
    id integer NOT NULL,
    user_id integer NOT NULL,
    ignored_user_id integer NOT NULL,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.user_ignores OWNER TO postgres;

--
-- Name: user_ignores_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_ignores_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_ignores_id_seq OWNER TO postgres;

--
-- Name: user_ignores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_ignores_id_seq OWNED BY public.user_ignores.id;


--
-- Name: user_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_reports (
    id integer NOT NULL,
    reporter_id integer NOT NULL,
    reported_user_id integer NOT NULL,
    reason character varying(255) NOT NULL,
    details text DEFAULT ''::text NOT NULL,
    created_at timestamp without time zone NOT NULL,
    category character varying(32) DEFAULT 'other'::character varying NOT NULL,
    status character varying(16) DEFAULT 'open'::character varying NOT NULL
);


ALTER TABLE public.user_reports OWNER TO postgres;

--
-- Name: user_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_reports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_reports_id_seq OWNER TO postgres;

--
-- Name: user_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_reports_id_seq OWNED BY public.user_reports.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    matches_last_seen_at timestamp without time zone,
    is_deleted boolean DEFAULT false NOT NULL,
    deleted_at timestamp without time zone,
    deletion_scheduled_for timestamp without time zone,
    premium_until timestamp with time zone,
    is_trial boolean DEFAULT false NOT NULL,
    is_trial_used boolean DEFAULT false NOT NULL,
    trial_started_at timestamp with time zone,
    created_at timestamp with time zone,
    last_active_at timestamp with time zone,
    is_banned boolean DEFAULT false NOT NULL,
    is_demo boolean DEFAULT false NOT NULL,
    referral_code character varying(16),
    referred_by_user_id integer,
    email_verified boolean NOT NULL,
    email_verified_at timestamp with time zone,
    subscription_plan character varying(32) DEFAULT 'free'::character varying NOT NULL,
    subscription_status character varying(32) DEFAULT 'inactive'::character varying NOT NULL,
    subscription_expires_at timestamp with time zone,
    trial_active boolean NOT NULL,
    trial_expires_at timestamp with time zone,
    ai_free_used_count integer NOT NULL,
    ai_last_used_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: verification_attempts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_attempts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    day character varying(8) NOT NULL,
    count integer DEFAULT 0 NOT NULL,
    updated_at timestamp without time zone
);


ALTER TABLE public.verification_attempts OWNER TO postgres;

--
-- Name: verification_attempts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.verification_attempts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verification_attempts_id_seq OWNER TO postgres;

--
-- Name: verification_attempts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.verification_attempts_id_seq OWNED BY public.verification_attempts.id;


--
-- Name: ai_interaction_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_interaction_events ALTER COLUMN id SET DEFAULT nextval('public.ai_interaction_events_id_seq'::regclass);


--
-- Name: ai_trial_usage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_trial_usage ALTER COLUMN id SET DEFAULT nextval('public.ai_trial_usage_id_seq'::regclass);


--
-- Name: ai_usage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_usage ALTER COLUMN id SET DEFAULT nextval('public.ai_usage_id_seq'::regclass);


--
-- Name: analytics_events id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events ALTER COLUMN id SET DEFAULT nextval('public.analytics_events_id_seq'::regclass);


--
-- Name: app_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings ALTER COLUMN id SET DEFAULT nextval('public.app_settings_id_seq'::regclass);


--
-- Name: device_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_tokens ALTER COLUMN id SET DEFAULT nextval('public.device_tokens_id_seq'::regclass);


--
-- Name: email_verification_tokens id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens ALTER COLUMN id SET DEFAULT nextval('public.email_verification_tokens_id_seq'::regclass);


--
-- Name: incoming_like_hides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incoming_like_hides ALTER COLUMN id SET DEFAULT nextval('public.incoming_like_hides_id_seq'::regclass);


--
-- Name: matches id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches ALTER COLUMN id SET DEFAULT nextval('public.matches_id_seq'::regclass);


--
-- Name: message_reactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions ALTER COLUMN id SET DEFAULT nextval('public.message_reactions_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: oauth_accounts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts ALTER COLUMN id SET DEFAULT nextval('public.oauth_accounts_id_seq'::regclass);


--
-- Name: profiles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles ALTER COLUMN id SET DEFAULT nextval('public.profiles_id_seq'::regclass);


--
-- Name: promo_codes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promo_codes ALTER COLUMN id SET DEFAULT nextval('public.promo_codes_id_seq'::regclass);


--
-- Name: referral_reward_grants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_reward_grants ALTER COLUMN id SET DEFAULT nextval('public.referral_reward_grants_id_seq'::regclass);


--
-- Name: subscriptions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions ALTER COLUMN id SET DEFAULT nextval('public.subscriptions_id_seq'::regclass);


--
-- Name: swipes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swipes ALTER COLUMN id SET DEFAULT nextval('public.swipes_id_seq'::regclass);


--
-- Name: thread_read_states id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thread_read_states ALTER COLUMN id SET DEFAULT nextval('public.thread_read_states_id_seq'::regclass);


--
-- Name: user_ai_memory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ai_memory ALTER COLUMN id SET DEFAULT nextval('public.user_ai_memory_id_seq'::regclass);


--
-- Name: user_blocks id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks ALTER COLUMN id SET DEFAULT nextval('public.user_blocks_id_seq'::regclass);


--
-- Name: user_ignores id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ignores ALTER COLUMN id SET DEFAULT nextval('public.user_ignores_id_seq'::regclass);


--
-- Name: user_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports ALTER COLUMN id SET DEFAULT nextval('public.user_reports_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: verification_attempts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_attempts ALTER COLUMN id SET DEFAULT nextval('public.verification_attempts_id_seq'::regclass);


--
-- Data for Name: ai_interaction_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_interaction_events (id, user_id, partner_user_id, event_type, metadata_json, created_at, thread_id) FROM stdin;
\.


--
-- Data for Name: ai_trial_usage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_trial_usage (id, user_id, trial_started_at, updated_at, ai_match_preview_used, ai_opener_used, ai_rewrite_used, ai_recovery_used, ai_escalation_used, status) FROM stdin;
\.


--
-- Data for Name: ai_usage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ai_usage (id, user_id, date, messages_used, openers_used, improves_used) FROM stdin;
1	9	2026-05-01	5	1	0
2	9	2026-05-02	16	2	0
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
0041_user_trial_ai_usage_fields
\.


--
-- Data for Name: analytics_events; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: app_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: device_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device_tokens (id, user_id, platform, token) FROM stdin;
\.


--
-- Data for Name: email_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: incoming_like_hides; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.incoming_like_hides (id, viewer_user_id, admirer_user_id, created_at) FROM stdin;
\.


--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.matches (id, user_a_id, user_b_id, created_at) FROM stdin;
1	1	3	2026-04-27 10:58:48.619465
2	1	2	2026-04-28 10:58:48.619465
3	1	5	2026-04-30 10:58:48.619465
4	1	6	2026-04-30 16:58:48.619465
5	28	35	2026-05-01 11:13:28.679674
6	9	35	2026-05-01 11:29:15.35389
7	36	37	2026-05-02 02:43:01.742546
8	43	44	2026-05-02 09:01:31.152608
\.


--
-- Data for Name: message_reactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_reactions (id, message_id, user_id, emoji, created_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: oauth_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.oauth_accounts (id, user_id, provider, provider_user_id, email_snapshot) FROM stdin;
1	9	google	103098196628799157687	mateikotar20@gmail.com
2	35	google	117891628762882713255	mateikot33@gmail.com
3	42	google	107835409655087353113	matematetar@gmail.com
\.


--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: promo_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.promo_codes (id, code, days, max_uses, uses_count, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: referral_reward_grants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.referral_reward_grants (id, user_id, milestone_key, premium_days, created_at) FROM stdin;
\.


--
-- Data for Name: subscriptions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: swipes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: thread_read_states; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.thread_read_states (id, user_id, partner_user_id, last_read_at) FROM stdin;
1	35	28	2026-05-01 11:19:44.294463
2	35	9	2026-05-02 06:16:53.87505
3	9	35	2026-05-02 09:07:03.032541
\.


--
-- Data for Name: user_ai_memory; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_ai_profiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ai_profiles (user_id, preferred_style, avg_message_length, emoji_usage_level, edit_rate, samples, updated_at) FROM stdin;
\.


--
-- Data for Name: user_blocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_blocks (id, blocker_id, blocked_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_ignores; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_ignores (id, user_id, ignored_user_id, created_at) FROM stdin;
\.


--
-- Data for Name: user_reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.user_reports (id, reporter_id, reported_user_id, reason, details, created_at, category, status) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: verification_attempts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_attempts (id, user_id, day, count, updated_at) FROM stdin;
\.


--
-- Name: ai_interaction_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_interaction_events_id_seq', 1, false);


--
-- Name: ai_trial_usage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_trial_usage_id_seq', 1, false);


--
-- Name: ai_usage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ai_usage_id_seq', 2, true);


--
-- Name: analytics_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.analytics_events_id_seq', 731, true);


--
-- Name: app_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.app_settings_id_seq', 4, true);


--
-- Name: device_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_tokens_id_seq', 1, false);


--
-- Name: email_verification_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_verification_tokens_id_seq', 6, true);


--
-- Name: incoming_like_hides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.incoming_like_hides_id_seq', 1, false);


--
-- Name: matches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.matches_id_seq', 8, true);


--
-- Name: message_reactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_reactions_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_id_seq', 3, true);


--
-- Name: oauth_accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.oauth_accounts_id_seq', 3, true);


--
-- Name: profiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profiles_id_seq', 44, true);


--
-- Name: promo_codes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.promo_codes_id_seq', 1, false);


--
-- Name: referral_reward_grants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.referral_reward_grants_id_seq', 1, false);


--
-- Name: subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.subscriptions_id_seq', 9, true);


--
-- Name: swipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.swipes_id_seq', 50, true);


--
-- Name: thread_read_states_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.thread_read_states_id_seq', 3, true);


--
-- Name: user_ai_memory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_ai_memory_id_seq', 24, true);


--
-- Name: user_blocks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_blocks_id_seq', 1, false);


--
-- Name: user_ignores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_ignores_id_seq', 1, false);


--
-- Name: user_reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_reports_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 44, true);


--
-- Name: verification_attempts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verification_attempts_id_seq', 1, false);


--
-- Name: ai_interaction_events ai_interaction_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_interaction_events
    ADD CONSTRAINT ai_interaction_events_pkey PRIMARY KEY (id);


--
-- Name: ai_trial_usage ai_trial_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_trial_usage
    ADD CONSTRAINT ai_trial_usage_pkey PRIMARY KEY (id);


--
-- Name: ai_usage ai_usage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_usage
    ADD CONSTRAINT ai_usage_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analytics_events analytics_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_pkey PRIMARY KEY (id);


--
-- Name: app_settings app_settings_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_key_key UNIQUE (key);


--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (id);


--
-- Name: user_blocks ck_user_blocks_not_self; Type: CHECK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.user_blocks
    ADD CONSTRAINT ck_user_blocks_not_self CHECK ((blocker_id <> blocked_id)) NOT VALID;


--
-- Name: user_ignores ck_user_ignores_not_self; Type: CHECK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.user_ignores
    ADD CONSTRAINT ck_user_ignores_not_self CHECK ((user_id <> ignored_user_id)) NOT VALID;


--
-- Name: device_tokens device_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_tokens
    ADD CONSTRAINT device_tokens_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: incoming_like_hides incoming_like_hides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incoming_like_hides
    ADD CONSTRAINT incoming_like_hides_pkey PRIMARY KEY (id);


--
-- Name: matches matches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_pkey PRIMARY KEY (id);


--
-- Name: message_reactions message_reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: oauth_accounts oauth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_key UNIQUE (user_id);


--
-- Name: promo_codes promo_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_pkey PRIMARY KEY (id);


--
-- Name: referral_reward_grants referral_reward_grants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_reward_grants
    ADD CONSTRAINT referral_reward_grants_pkey PRIMARY KEY (id);


--
-- Name: subscriptions subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_pkey PRIMARY KEY (id);


--
-- Name: swipes swipes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_pkey PRIMARY KEY (id);


--
-- Name: thread_read_states thread_read_states_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thread_read_states
    ADD CONSTRAINT thread_read_states_pkey PRIMARY KEY (id);


--
-- Name: ai_trial_usage uq_ai_trial_usage_user_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_trial_usage
    ADD CONSTRAINT uq_ai_trial_usage_user_id UNIQUE (user_id);


--
-- Name: ai_usage uq_ai_usage_user_date; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_usage
    ADD CONSTRAINT uq_ai_usage_user_date UNIQUE (user_id, date);


--
-- Name: incoming_like_hides uq_incoming_like_hides_pair; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incoming_like_hides
    ADD CONSTRAINT uq_incoming_like_hides_pair UNIQUE (viewer_user_id, admirer_user_id);


--
-- Name: matches uq_match_pair; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT uq_match_pair UNIQUE (user_a_id, user_b_id);


--
-- Name: message_reactions uq_message_reactions_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT uq_message_reactions_unique UNIQUE (message_id, user_id, emoji);


--
-- Name: oauth_accounts uq_oauth_provider_sub; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT uq_oauth_provider_sub UNIQUE (provider, provider_user_id);


--
-- Name: oauth_accounts uq_oauth_user_provider; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT uq_oauth_user_provider UNIQUE (user_id, provider);


--
-- Name: promo_codes uq_promo_code; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT uq_promo_code UNIQUE (code);


--
-- Name: referral_reward_grants uq_referral_reward_user_milestone; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_reward_grants
    ADD CONSTRAINT uq_referral_reward_user_milestone UNIQUE (user_id, milestone_key);


--
-- Name: thread_read_states uq_thread_read_pair; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thread_read_states
    ADD CONSTRAINT uq_thread_read_pair UNIQUE (user_id, partner_user_id);


--
-- Name: user_blocks uq_user_blocks_pair; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT uq_user_blocks_pair UNIQUE (blocker_id, blocked_id);


--
-- Name: user_ignores uq_user_ignores_pair; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ignores
    ADD CONSTRAINT uq_user_ignores_pair UNIQUE (user_id, ignored_user_id);


--
-- Name: verification_attempts uq_verification_attempts_user_day; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_attempts
    ADD CONSTRAINT uq_verification_attempts_user_day UNIQUE (user_id, day);


--
-- Name: user_ai_memory user_ai_memory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ai_memory
    ADD CONSTRAINT user_ai_memory_pkey PRIMARY KEY (id);


--
-- Name: user_ai_profiles user_ai_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ai_profiles
    ADD CONSTRAINT user_ai_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: user_blocks user_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_pkey PRIMARY KEY (id);


--
-- Name: user_ignores user_ignores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ignores
    ADD CONSTRAINT user_ignores_pkey PRIMARY KEY (id);


--
-- Name: user_reports user_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: verification_attempts verification_attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_attempts
    ADD CONSTRAINT verification_attempts_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_events_partner_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_events_partner_user_id ON public.ai_interaction_events USING btree (partner_user_id);


--
-- Name: ix_ai_events_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_events_type ON public.ai_interaction_events USING btree (event_type);


--
-- Name: ix_ai_events_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_events_user_id ON public.ai_interaction_events USING btree (user_id);


--
-- Name: ix_ai_trial_usage_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_trial_usage_user_id ON public.ai_trial_usage USING btree (user_id);


--
-- Name: ix_ai_usage_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_usage_date ON public.ai_usage USING btree (date);


--
-- Name: ix_ai_usage_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_usage_id ON public.ai_usage USING btree (id);


--
-- Name: ix_ai_usage_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_usage_user_id ON public.ai_usage USING btree (user_id);


--
-- Name: ix_app_settings_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_app_settings_key ON public.app_settings USING btree (key);


--
-- Name: ix_email_verification_tokens_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_verification_tokens_token_hash ON public.email_verification_tokens USING btree (token_hash);


--
-- Name: ix_email_verification_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_verification_tokens_user_id ON public.email_verification_tokens USING btree (user_id);


--
-- Name: ix_incoming_like_hides_admirer_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_incoming_like_hides_admirer_user_id ON public.incoming_like_hides USING btree (admirer_user_id);


--
-- Name: ix_incoming_like_hides_viewer_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_incoming_like_hides_viewer_user_id ON public.incoming_like_hides USING btree (viewer_user_id);


--
-- Name: ix_matches_user_a_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_matches_user_a_id ON public.matches USING btree (user_a_id);


--
-- Name: ix_matches_user_b_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_matches_user_b_id ON public.matches USING btree (user_b_id);


--
-- Name: ix_message_reactions_message_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_message_reactions_message_id ON public.message_reactions USING btree (message_id);


--
-- Name: ix_message_reactions_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_message_reactions_user_id ON public.message_reactions USING btree (user_id);


--
-- Name: ix_messages_receiver_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_messages_receiver_id ON public.messages USING btree (receiver_id);


--
-- Name: ix_messages_reply_to_message_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_messages_reply_to_message_id ON public.messages USING btree (reply_to_message_id);


--
-- Name: ix_messages_sender_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_messages_sender_id ON public.messages USING btree (sender_id);


--
-- Name: ix_messages_voice_url; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_messages_voice_url ON public.messages USING btree (voice_url);


--
-- Name: ix_profiles_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_profiles_user_id ON public.profiles USING btree (user_id);


--
-- Name: ix_promo_codes_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_promo_codes_code ON public.promo_codes USING btree (code);


--
-- Name: ix_referral_reward_grants_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_referral_reward_grants_user_id ON public.referral_reward_grants USING btree (user_id);


--
-- Name: ix_swipes_swiper_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_swipes_swiper_id ON public.swipes USING btree (swiper_id);


--
-- Name: ix_swipes_target_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_swipes_target_user_id ON public.swipes USING btree (target_user_id);


--
-- Name: ix_user_ai_memory_type_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_user_ai_memory_type_key ON public.user_ai_memory USING btree (user_id, memory_type, key);


--
-- Name: ix_user_ai_memory_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_ai_memory_user_id ON public.user_ai_memory USING btree (user_id);


--
-- Name: ix_user_blocks_blocked_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_blocks_blocked_id ON public.user_blocks USING btree (blocked_id);


--
-- Name: ix_user_blocks_blocker_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_blocks_blocker_id ON public.user_blocks USING btree (blocker_id);


--
-- Name: ix_user_ignores_ignored_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_ignores_ignored_user_id ON public.user_ignores USING btree (ignored_user_id);


--
-- Name: ix_user_ignores_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_ignores_user_id ON public.user_ignores USING btree (user_id);


--
-- Name: ix_user_reports_reported_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_reports_reported_user_id ON public.user_reports USING btree (reported_user_id);


--
-- Name: ix_user_reports_reporter_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_user_reports_reporter_id ON public.user_reports USING btree (reporter_id);


--
-- Name: ix_users_deletion_scheduled_for; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_deletion_scheduled_for ON public.users USING btree (deletion_scheduled_for);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_is_deleted; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_is_deleted ON public.users USING btree (is_deleted);


--
-- Name: ix_users_referral_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_referral_code ON public.users USING btree (referral_code);


--
-- Name: ix_users_referred_by_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_users_referred_by_user_id ON public.users USING btree (referred_by_user_id);


--
-- Name: ix_verification_attempts_day; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_verification_attempts_day ON public.verification_attempts USING btree (day);


--
-- Name: ix_verification_attempts_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_verification_attempts_user_id ON public.verification_attempts USING btree (user_id);


--
-- Name: ai_interaction_events ai_interaction_events_partner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_interaction_events
    ADD CONSTRAINT ai_interaction_events_partner_user_id_fkey FOREIGN KEY (partner_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: ai_interaction_events ai_interaction_events_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_interaction_events
    ADD CONSTRAINT ai_interaction_events_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ai_trial_usage ai_trial_usage_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_trial_usage
    ADD CONSTRAINT ai_trial_usage_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: ai_usage ai_usage_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_usage
    ADD CONSTRAINT ai_usage_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: device_tokens device_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_tokens
    ADD CONSTRAINT device_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: email_verification_tokens email_verification_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users fk_users_referred_by_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_referred_by_user_id FOREIGN KEY (referred_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: incoming_like_hides incoming_like_hides_admirer_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incoming_like_hides
    ADD CONSTRAINT incoming_like_hides_admirer_user_id_fkey FOREIGN KEY (admirer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: incoming_like_hides incoming_like_hides_viewer_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incoming_like_hides
    ADD CONSTRAINT incoming_like_hides_viewer_user_id_fkey FOREIGN KEY (viewer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: matches matches_user_a_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_user_a_id_fkey FOREIGN KEY (user_a_id) REFERENCES public.users(id);


--
-- Name: matches matches_user_b_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.matches
    ADD CONSTRAINT matches_user_b_id_fkey FOREIGN KEY (user_b_id) REFERENCES public.users(id);


--
-- Name: message_reactions message_reactions_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: message_reactions message_reactions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_reactions
    ADD CONSTRAINT message_reactions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_receiver_id_fkey FOREIGN KEY (receiver_id) REFERENCES public.users(id);


--
-- Name: messages messages_reply_to_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_reply_to_message_id_fkey FOREIGN KEY (reply_to_message_id) REFERENCES public.messages(id);


--
-- Name: messages messages_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.users(id);


--
-- Name: oauth_accounts oauth_accounts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oauth_accounts
    ADD CONSTRAINT oauth_accounts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: profiles profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: referral_reward_grants referral_reward_grants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referral_reward_grants
    ADD CONSTRAINT referral_reward_grants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: subscriptions subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subscriptions
    ADD CONSTRAINT subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: swipes swipes_swiper_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_swiper_id_fkey FOREIGN KEY (swiper_id) REFERENCES public.users(id);


--
-- Name: swipes swipes_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swipes
    ADD CONSTRAINT swipes_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(id);


--
-- Name: thread_read_states thread_read_states_partner_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thread_read_states
    ADD CONSTRAINT thread_read_states_partner_user_id_fkey FOREIGN KEY (partner_user_id) REFERENCES public.users(id);


--
-- Name: thread_read_states thread_read_states_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.thread_read_states
    ADD CONSTRAINT thread_read_states_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_ai_memory user_ai_memory_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ai_memory
    ADD CONSTRAINT user_ai_memory_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_ai_profiles user_ai_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ai_profiles
    ADD CONSTRAINT user_ai_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_blocks user_blocks_blocked_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocked_id_fkey FOREIGN KEY (blocked_id) REFERENCES public.users(id);


--
-- Name: user_blocks user_blocks_blocker_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_blocks
    ADD CONSTRAINT user_blocks_blocker_id_fkey FOREIGN KEY (blocker_id) REFERENCES public.users(id);


--
-- Name: user_ignores user_ignores_ignored_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ignores
    ADD CONSTRAINT user_ignores_ignored_user_id_fkey FOREIGN KEY (ignored_user_id) REFERENCES public.users(id);


--
-- Name: user_ignores user_ignores_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_ignores
    ADD CONSTRAINT user_ignores_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_reports user_reports_reported_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reported_user_id_fkey FOREIGN KEY (reported_user_id) REFERENCES public.users(id);


--
-- Name: user_reports user_reports_reporter_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_reports
    ADD CONSTRAINT user_reports_reporter_id_fkey FOREIGN KEY (reporter_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict cEz0a3Tr0eW6d3h0Tm0PJaejgBV3Ou800l7cb7IzkrcDJf8sywrA3RlhbLaBfKN

